
.tab-header-background {
    -fx-background-color:   #043761;

    
}
.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-family: "Segoe UI Semibold";
   
}
